head{
  margin: 0px 30px 40px 60px;
  padding-top:5px;
}
body {
background-image: url('renk.jpg');
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
margin: 0px 30px 40px 60px;
padding-left:
}
h1,h2 {
color:#000000;
text-align: center;
font-family: Georgia;
border: 6px solid white;}
h3{
color: #000000;
text-align: left;
font-style: italic;
font-family: Courier;
border: 2px solid red;
margin-top: auto;
margin: 0px 1100px 0px 0px;}
a:visited{
color: orange;
}
p a:visited {
 color: orange;
}
a:link {
 color: gold;
}
li a:visited{color: orange;
}
li a:link{
 color: gold;
}
#menu li {
  display: inline;
  float: inherit;
  border: 5px solid yellow;
}
@media only screen and (min-widt: 768px){
  head{
    margin: 0px 15px 20px 30px;
    padding-top:2.5px;
  }
  body {
  margin: 0px 15px 20px 30px;
  padding-left:2.5px;
  }
  h1,h2 {
  border: 3px solid white;}
  h3{
  border: 1px solid red;
  margin-top: auto;
  margin: 0px 550px 0px 0px;}
}
