head{
  margin: 0px 30px 40px 60px;
  padding-top:
}
body {
background-image: url('renk.jpg');
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
margin: 0px 30px 40px 60px;
padding-left:
}
h1,h2 {
color:#000000;
text-align: center;
font-family: Georgia;
border: 6px solid white;}
h3{
color: #000000;
text-align: left;
font-style: italic;
font-family: Courier;
border: 2px solid red;
margin-top: auto;
margin: 0px 1100px 0px 0px;}
a:visited{
color: orange;
}
p a:visited {
 color: orange;
}
a:link {
 color: gold;
}
li a:visited{color: orange;
}
li a:link{
 color: gold;
}
#menu li {
  display: inline;
  float: inherit;
  border: 5px solid yellow;
}
