head{

}
body {
background-image: url('3babdc0ac1 (1).jpg');
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
}
h1{

}
h2{

}
h3{

}
p{

}
table{

}
table,th,td{

}
td{

}
tr{

}
li{
}
  
