head{

}
body {
background-image: url('imagesaa.jpg');
background-repeat: repeat-x;
background-attachment: fixed;
background-size: contain;
}
h1{
color:gold;
}
h2{
color:gold;
}
h3{
color:gold;
}
p{
color:gold;
}
table{

}
table,th,td{
color:gold;
}
td{
  background-color: yellow;
  color: black;
}
tr{
  background-color: yellow;
  color: black;
}
li{
}
#menu li {
  display: inline;
  float: inherit;
  border: 5px solid yellow;
}
