head{
  margin: 0px 30px 40px 60px;
  padding-top: 5px;
}
body {
background-image: url('download (1) - kopie.jpg');
background-repeat: repeat-x;
background-attachment: fixed;
background-size: contain;
color:rgb(255, 255, 255);
margin: 0px 30px 40px 60px;
padding-left: 5px;
}
#menu li {
  display: inline;
  float: inherit;
  border: 5px solid yellow;
}
h1{
color:rgb(255, 255, 255);
text-align: center;
font-family: Georgia;
border: 6px solid white;}
}
h2{
  color:rgb(255, 255, 255);
  text-align: center;
  font-family: Georgia;
  border: 6px solid white;
  margin-top: auto;
  margin: 0px 1100px 0px 0px;
}
h3, h4{
color:rgb(255, 255, 255);
text-align: left;
font-style: italic;
font-family: Courier;
border: 2px solid red;
margin-top: auto;
margin: 0px 1100px 0px 0px;}
p{
color: white;
}
a:visited{
color: orange;
}
p a:visited {
 color: orange;
}
a:link {
 color: gold;
}
li a:visited{color: orange;
}
li a:link{
 color: gold;}
  @media only screen and (min-widt: 768px){
    head{
      margin: 0px 30px 40px 60px;
      padding-top: 5px;
    }
    body {
    margin: 0px 15px 20px 30px;
    padding-left: 2.5px;
    }
    #menu li {
      border: 2.5px solid yellow;
    }
    h1{
    border: 3px solid white;}
    }
    h2{
      border: 3px solid white;
      margin-top: auto;
      margin: 0px 550px 0px 0px;
    }
    h3, h4{
    border: 1px solid red;
    margin-top: auto;
    margin: 0px 550px 0px 0px;}

  }
