head{

}
body {
background-image: url('download (1) - kopie.jpg');
background-repeat: repeat-x;
background-attachment: fixed;
background-size: contain;
color:rgb(255, 255, 255);
}
h1{
color:rgb(255, 255, 255);
}
h2{
color:rgb(255, 255, 255);
}
h3{
color:rgb(255, 255, 255);
}
h4{
color:rgb(255, 255, 255);
p{
color: white;
}
table,th,td{

}
td{

}
tr{

}
li,ol,ul{


}
